<div>
  <p>Name: <%= @resident.full_name %></p>
  <p>Email: <%= @resident.email %></p>
  <p>Address: <%= @resident.address %></p>
  <p>Home Phone: <%= @resident.home_phone %></p>
  <p>Cell Phone: <%= @resident.cell_phone %></p>
</div>
